### PHPStorm ###
.idea/
.idea_modules/

### PHP ###
/vendor/
composer.lock

### Testing ###
.phpunit.result.cache
.phpunit.cache/
coverage/
phpunit.xml

### Operating System ###
.DS_Store
Thumbs.db

### Environment ###
.env
.env.backup
.env.testing

### Build ###
build/
dist/

### Logs ###
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Package ###
*.phar