parameters:
    level: 5
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - message: '#Call to method PHPUnit\\Framework\\Assert::\w+\(\) with .* will always evaluate to true\.#'
          path: tests/*
